description = "Модальное окно"
==
<div id="myModal" class="modal" style="z-index:999;">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h3 class="modal-head-text">Оставьте заявку на консультацию</h3>
		</div>
		<div class="modal-body">
			<div class="container-fluid" style="padding: 25px 0;">
				<form action="">
					<div class="col-md-12 form-input-modal">
						<i>Ваше имя</i>
						<input required="" type="text" placeholder="Введите имя">
					</div>
					<div class="col-md-12 form-input-modal">
						<i>Ваш телефон</i>
						<input required="" type="text" placeholder="Введите телефон">
					</div>
					<div class="col-md-12 form-input-modal form-button-modal">
						<button type="submit">Запись на консультацию</button>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12 f-checkbox">
						<input required="" checked="" type="checkbox">
						<i>Оставляя заявку, Вы соглашаетесь с <a href="#">Условиями передачи данных</a></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>